{% extends 'mail/layout.html.twig' %}
{% set locale  = 'fr' %}
{% block content %}
    <!-- module 1 -->
    <table data-module="module-1" data-thumb="{{ baseurl ~ asset("mail/thumbnails/01.png") }}" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td data-bgcolor="bg-module" bgcolor="#eaeced">
                <table class="flexible" width="600" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="padding:29px 0 30px;">
                            <table width="100%" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                                <tr>
                                    <th class="flex" width="113" align="left" style="padding:0;">
                                        <table class="center" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                                            <tr>
                                                <td style="line-height:0;">
                                                    <a target="_blank" style="text-decoration:none;" href="{{ website }}"><img src="{{ baseurl ~ asset("img/logo.png") | thumb(113) }}" border="0" style="height:auto;font:bold 12px/12px Arial, Helvetica, sans-serif; color:#606060;" align="left" vspace="0" hspace="0" width="113" height="12" alt="{{ infos.name }}" /></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </th>

                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <!-- module 2 -->
    <table data-module="module-2" data-thumb="{{ baseurl ~ asset("mail/thumbnails/02.png") }}" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td data-bgcolor="bg-module" bgcolor="#eaeced">
                <table class="flexible" width="600" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="img-flex"><img src="{{ baseurl ~ asset("mail/images/img-01.jpg") }}" style="vertical-align:top;" width="600" height="306" alt="" /></td>
                    </tr>
                    <tr>
                        <td data-bgcolor="bg-block" class="holder" style="padding:58px 60px 52px;" bgcolor="#f9f9f9">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td data-color="title" data-size="size title" data-min="25" data-max="45" data-link-color="link title color" data-link-style="text-decoration:none; color:#292c34;" class="title" align="center" style="font:35px/38px Arial, Helvetica, sans-serif; color:#292c34; padding:0 0 24px;">
                                        Demande de contact sur votre site internet
                                    </td>
                                </tr>
                                <tr>
                                    <td data-color="text" data-size="size text" data-min="10" data-max="26" data-link-color="link text color" data-link-style="font-weight:bold; text-decoration:underline; color:#40aceb;" align="center" style="font:bold 16px/25px Arial, Helvetica, sans-serif; color:#888; padding:0 0 23px;">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                        {% for key,val in post.contact_form %}
                                            {% if key not in ['submit','rgpd','_token','g-recaptcha-response']%}
                                            <tr>
                                                <td>{{ key | trans }} : </td>
                                                <td>{{ val }}</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </table>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr><td height="28"></td></tr>
                </table>
            </td>
        </tr>
    </table>

{% endblock content %}